.title {
    padding-left: 4rem;
    padding-right: 4rem;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cardImage {
    position: relative;
    height: 30rem;
}

.caracteristique {
    display: flex;
    flex-direction: row;
    gap: 0.5ch;

    .definition {
        font-weight: 700;
        color: var(--color-secondary);
        margin-bottom: 0.5rem;
    }

    .definition::after {
        content: " : ";
    }
}
