.card {
  padding: 1rem;
  border: 2px var(--color-primary) solid;
  box-shadow: 7px 7px 10px rgba(22, 22, 22, 0.08);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-areas:
    "release"
    "title";
}

.button {
  width: fit-content;
  margin-left: auto;
}

.release {
  grid-area: release;
  text-align: right;
}

.title {
  grid-area: title;
  color: var(--color-secondary);
}
